.post-container {
  border: 1px solid #ddd;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  overflow: hidden;
  background: #f3f3f3;
}
.post-container h4 {
  margin: 0;
  margin-bottom: 10px;
  line-height: 25px;
}
.post-container span {
  font-size: 13px;
}
.post-container a {
  color: #333;
}
